<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JsonConverter.Abstractions" version="0.5.0" />
  <package id="JsonConverter.Newtonsoft.Json" version="0.5.0" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="Stef.Validation" version="0.1.1" />
  <package id="YoutubeDLSharp" version="1.0.0" manuallyInstalled="true" />
</packages>